<h1>{{name}}</h1>
<p><strong>Email:</strong> {{email}}</p>
<p><strong>Address:</strong> {{address.street}} {{address.city}}, {{address.state}}</p>

<button (click)="toggleHobbies()">{{buttonShowHobbyText}}</button>
<div *ngIf="showHobbies">
    <h3>Hobbies</h3>
    <ul>
        <li *ngFor="let hobby of hobbies; let i = index">
            {{hobby}} <button (click)="deleteHobby(i)">X</button>
        </li>
    </ul>
    <form (submit)="addHobby(hobby.value)">
        <label>Add Hobby:</label>
        <input type="text" #hobby /><br />
    </form>
</div>

<hr />
<form>
    <label>Name:</label>
    <input type="text" name="name" [(ngModel)]="name" /><br />

    <label>Email:</label>
    <input type="text" name="email" [(ngModel)]="email" /><br />

    <label>City:  </label>
    <input type="text" name="address.city" [(ngModel)]="address.city" /><br />

    <label>State: </label>
    <input type="text" name="address.state" [(ngModel)]="address.state" /><br />
</form>
<hr>

<h3>Posts</h3>

<form>
    <label>Title:</label>
    <input type="text" #title /><br />

    <label>Body:</label>
    <input type="text" #body /><br />

    <label>User Id:  </label>
    <input type="text" #userId /><br />

    <button (click)="addPost(title.value, body.value, userId.value)">Add post</button>
    <button (click)="updatePost(101, title.value, body.value, userId.value)">Update post</button>
    <button (click)="updatePost(101, title.value, body.value, userId.value)">Delete post</button>
</form>

<div *ngFor="let post of posts">
    <h3>{{post.title}}</h3>
    <p>{{post.body}}</p>
</div>